@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 9999;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  border: 0.4rem solid #f3f3f3; /* Light grey */
  border-top: 0.4rem solid teal; /* Blue */
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  animation: spin 2s linear infinite;
}

.loading-message {
  margin-top: 1rem;
  color: #fff;
}

@media (max-width: 768px) {
  /* Penyesuaian untuk layar kecil */
  .loader-container {
    /* Sesuaikan gaya untuk layar kecil jika diperlukan */
  }
}
