@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.loader-wrapper {
  position: fixed;   /* Menjaga posisi tetap saat scroll */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Menyelaraskan elemen di tengah */
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  z-index: 9999;  /* Pastikan loader berada di atas elemen lain */
  width: 100vw;
  height: 100vh;
}

.loader {
  width: 8px;
  height: 48px;
  display: inline-block;
  position: relative;
  border-radius: 4px;
  color: teal;
  box-sizing: border-box;
  animation: animloader 0.6s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 20px -10px, 40px 10px, 60px 0px;
  }
  25% {
    box-shadow: 20px 0px, 40px  0px, 60px 10px;
  }
  50% {
    box-shadow: 20px 10px, 40px -10px, 60px 0px;
  }
  75% {
    box-shadow: 20px 0px, 40px 0px, 60px -10px;
  }
  100% {
    box-shadow: 20px -10px, 40px 10px, 60px 0px;
  }
}

.loading-message {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #333;
}
